<?xml version='1.0' encoding='utf-8'?>
<robot name="kinematic_skeleton">
  <link name="L0" />
  <link name="L1" />
  <link name="L2" />
  <link name="L3" />
  <link name="L4" />
  <link name="L5" />
  <link name="L6" />
  <link name="L7" />
  <link name="L8" />
  <link name="L9" />
  <joint name="J0" type="revolute">
    <parent link="L0" />
    <child link="L1" />
    <origin rpy="0 0 0" xyz="0 0 0.375" />
    <axis xyz="0 0 1" />
    <limit effort="126.0" lower="-3.141592653589793" upper="3.141592653589793" velocity="7.592182246175334" />
  </joint>
  <joint name="J1" type="revolute">
    <parent link="L1" />
    <child link="L2" />
    <origin rpy="0 0 0" xyz="0 0 0" />
    <axis xyz="0 1 0" />
    <limit effort="71.0" lower="-2.2252947962927703" upper="2.2252947962927703" velocity="7.155849933176751" />
  </joint>
  <joint name="J2" type="revolute">
    <parent link="L2" />
    <child link="L3" />
    <origin rpy="0 0 0" xyz="0 0.02 0.290" />
    <axis xyz="0 1 0" />
    <limit effort="38.0" lower="-2.4870941840919194" upper="2.4870941840919194" velocity="9.42477796076938" />
  </joint>
  <joint name="J3" type="revolute">
    <parent link="L3" />
    <child link="L4" />
    <origin rpy="0 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="7.0" lower="-4.71238898038469" upper="4.71238898038469" velocity="17.36602605734358" />
  </joint>
  <joint name="J4" type="revolute">
    <parent link="L4" />
    <child link="L5" />
    <origin rpy="0 0 0" xyz="0 0 0.310" />
    <axis xyz="0 1 0" />
    <limit effort="8.0" lower="-2.138028333693054" upper="2.3125612588924866" velocity="18.58775653373961" />
  </joint>
  <joint name="J5" type="revolute">
    <parent link="L5" />
    <child link="L6" />
    <origin rpy="0 0 0" xyz="0 0 0.07" />
    <axis xyz="0 0 1" />
    <limit effort="2.0" lower="-4.71238898038469" upper="4.71238898038469" velocity="25.220007691318063" />
  </joint>
  <joint name="J6" type="fixed">
    <parent link="L0" />
    <child link="L7" />
    <origin rpy="0 0 0" xyz="0 0 0.375" />
  </joint>
  <joint name="J7" type="fixed">
    <parent link="L6" />
    <child link="L8" />
    <origin rpy="0 -1.5707963267948966 0" xyz="0 0 0" />
  </joint>
  <joint name="J8" type="fixed">
    <parent link="L8" />
    <child link="L9" />
    <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
  </joint>
</robot>